main {
  background-image: radial-gradient(white, #379ACE);
  padding-top:-30px;
  padding-bottom:70px;
}
#test{
  height: 10px;
}
header {

      background-image: url("sunset.jpg");
      background-repeat: no-repeat;
      background-size: 20% 100%;
      background-position: right;
      background-color: #000032;
      color: white;

}
h2{
  color: #379ACE;
}
span{
  font-weight: bold;
  font-size: 1.2em;
}
.Body{
  padding-right: 30px;
  padding-left: 200px;
  font-size: 1.5em;
  margin-left: 150px
  padding: 30px 0 0;
}
nav {
  text-decoration: none;
  display: block;
  padding: 20px;
  float: left;
  border-bottom: none;
  height: 100%;
  width: 150px;
  text-decoration: none;
  color: #9BAAAD;
  background-color:#000032;
  margin-top:-22px;
  font-size: 1.3em;
  padding-bottom: 783px;
  overflow: hidden;
}
nav a:visited{
  color: #9BAAAD;
}
nav ul {
  top: 0;
  list-style-type: none;
  border-bottom: none;
}
a {
  text-decoration: none;
}
a:visited {
  color: purple;
}
#container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  min-width: 650px; max-width: 1280px;
  box-shadow: 3px 3px 3px #333;
}
.Q{
  line-height: 0;
}
.FAQ{
    padding-left: 30px;

}
img {
  margin-top: -22px;
  width: 80%;
}
table, th, td {
  border: 1px solid #50A7D3;
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: #F5FAFC;
}
footer{
    text-align: center;
    font-style: italic;
    padding-bottom: 30px;
    font-size: .7em;
}
